<div class="container__navbar">
  <nav class="container__navbar-contact">
    <p>Text to change leater</p>
    <div class="nav-search">
      <input type="text" placeholder="Search in our website" />
      <a href="#"><fa-icon [icon]="faEnvelopeOpen"></fa-icon>Contact us</a> |
      <a href="#"><fa-icon [icon]="faUnlock"></fa-icon> User Login </a>
    </div>
  </nav>
  <div class="container__banner">
    <div class="container__banner-title">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
        voluptatum voluptatibus ex? Minima hic iure earum, esse praesentium,
        animi exercitationem reiciendis
      </p>
    </div>
    <a href="#"><fa-icon [icon]="faArrowAltCircleDown"></fa-icon></a>
  </div>
</div>

<div class="container__contact" id="contact">
  <div class="container__contact-title">
    <h1>Reason for Inquiry</h1>
    <p>Please select the purpose for your inquiry</p>
  </div>
  <div class="container__contact-select">
    <div class="container__contact-cart">
      <img src="../../../../assets/images/Left-hander-pana.png" alt="pad" />
      <h3>Request A Demo</h3>
      <p>
        Request a demostration of this website award. Winning differentiated
        instroction solutions
      </p>
      <button>Request a Demo</button>
    </div>
    <div class="container__contact-cart">
      <img src="../../../../assets/images/notes-pana.png" alt="pad" />
      <h3>Request A Demo</h3>
      <p>
        Request a demostration of this website award. Winning differentiated
        instroction solutions
      </p>
      <button>Request a Demo</button>
    </div>
    <div class="container__contact-cart">
      <img src="../../../../assets/images/Active-Support-amico.png" alt="pad" />
      <h3>Request A Demo</h3>
      <p>
        Request a demostration of this website award. Winning differentiated
        instroction solutions
      </p>
      <button>Request a Demo</button>
    </div>
  </div>
</div>

<div class="container__grid">
  <div class="container__grid-contact">
    <h1>Corporate Headquarters</h1>
    <p>Corporate Headquarters</p>
    <p>Platzi-store</p>
    <p>address</p>
  </div>
  <div class="container__grid-contact">
    <h1>General Contact</h1>
    <p>Corporate Headquarters</p>
    <p>Platzi-store</p>
    <p>address</p>
    <p>Email:jduartedsp@gmail.com</p>
  </div>
  <div class="container__grid-contact">
    <h1>Sales info & Inquiries</h1>
    <p>Corporate Headquarters</p>
    <p>Platzi-store</p>
  </div>
  <div class="container__grid-contact">
    <h1>International sales</h1>
    <p>Email:jduartedsp@gmail.com</p>
    <p>Phone:2396289725</p>
    <p>Schedule: Monday-Thursday</p>
  </div>
</div>
