<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <div class="product__container-img">
    <img [src]="product.image" [alt]="product.title" />
  </div>
  <mat-card-content>
    <p>{{ product.description | slice: 0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addCart()" mat-raised-button color="primary">
      Add to cart <fa-icon [icon]="faShoppingCart"></fa-icon>
    </button>
    <button mat-raised-button color="primary">
      <a [routerLink]="['/products', product.id]">See details</a>
    </button>
  </mat-card-actions>
</mat-card>

<!-- <h3 appHighlight [backgroundColor]="'black'" [color]="'white'"></h3>

<span>{{ product.price | currency }}</span>
<span>{{ product.description | slice: 0:10 }}</span>
<p>{{ today | date: "E MMM d, y, h:mm aaa" }}</p> -->
